.signup-outer-container {
    display: flex;
    justify-content: center;
}
.signup-container {
    width: 500px;
    height: 600px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.signup-button{
    width: 100%;
    justify-content: center;
}