ul {
    padding: 0 5px;
    border-right: deepskyblue solid 1px;
    margin: 0;
}
ul li {
padding: 10px 20px;
}

body {
    padding: 0;
}

.filter-container {
    height: 100%;
    max-width: 152px;
    background-color: white;
    padding: 16px 0;
}