<div class="filter-container">
    <ul>
        <li>
            <app-filter-item filterName="All Categories" 
                            (filterSelect)="onFilterSelect($event)"
                            [isActive]="filters==null || filters.length==0"></app-filter-item>
        </li>
        <li>
            <app-filter-item filterName="Men's Clothing" 
                            (filterSelect)="onFilterSelect($event)"
                            [isActive]="filters!=null && filters.includes('men\'s clothing')"></app-filter-item>
        </li>
        <li>
            <app-filter-item filterName="Women's Clothing" 
                            (filterSelect)="onFilterSelect($event)"
                            [isActive]="filters!=null && filters.includes('women\'s clothing')"></app-filter-item>
        </li>
        <li>
            <app-filter-item filterName="Jewelery" 
                            (filterSelect)="onFilterSelect($event)"
                            [isActive]="filters!=null && filters.includes('jewelery')"></app-filter-item>
        </li>
        <li>
            <app-filter-item filterName="Electronics" 
                            (filterSelect)="onFilterSelect($event)"
                            [isActive]="filters!=null && filters.includes('electronics')"></app-filter-item>
        </li>
    </ul>
</div>