.container {
    background-color: deepskyblue;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 15px;
}
.filler-div {
    flex-grow: 1;
}
.login-button {
    margin-right: 10px;
}
.user-button-container {
    position: relative;
}
.user-info-dialog {
    position: absolute;
    right: 0px;
    margin-top: 1px;
    width: 124px;
    background-color: white;
    border: 1px solid deepskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px 5px 5px;
}

.hamburger-menu-icon {
    display: none;
    margin-right: 20px;
}

/* for responsive layout */
@media only screen and (max-width: 600px) {
    .hamburger-menu-icon {
        display: block;
        margin-right: 20px;
    }
}