.container {
    background-color: deepskyblue;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 15px;
}
.filler-div {
    flex-grow: 1;
}

.hamburger-menu-icon {
    display: none;
    margin-right: 20px;
}

/* for responsive layout */
@media only screen and (max-width: 600px) {
    .hamburger-menu-icon {
        display: block;
        margin-right: 20px;
    }
}